* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerGeralAdmin {
  background-color: #520101;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Estilos para a tabela */
.ant-table-wrapper {
  margin-top: 20px;
}

/* Estilos para os botões de ação */
.ant-btn {
  margin-right: 8px;
}

/* Estilos para os modais */
.ant-modal-body {
  padding: 20px;
}

/* Estilos para os formulários dentro dos modais */
.ant-form-item-label {
  margin-bottom: 8px;
}

/* Estilos para os botões dos modais */
.ant-modal-footer {
  border-top: none;
  padding-top: 0;
}

/* Estilos para o botão de sair */
.register-button-admin {
  display: flex;
  margin-top: 20px;
  color: white;
  width: 100%;
  justify-content: center;
}

/* Estilos para o container principal */
.containerAdmin {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  background-color: #520101;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .containerAdmin {
    width: 90%;
  }
}

/* Estilos para o título */
.titleAdmin {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
